<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-networkspeeddetection" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		NetworkSpeedDetection
	</name>
	<js-module name="NetworkSpeedDetection" src="www/NetworkSpeedDetection.js">
		<clobbers target="NetworkSpeedDetection" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="NetworkSpeedDetection">
				<param name="android-package" value="cordova.plugin.networkspeeddetection.NetworkSpeedDetection" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/NetworkSpeedDetection.java" target-dir="src/cordova/plugin/networkspeeddetection/NetworkSpeedDetection" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="NetworkSpeedDetection">
				<param name="ios-package" value="NetworkSpeedDetection" />
			</feature>
		</config-file>
		<source-file src="src/ios/NetworkSpeedDetection.m" />
	</platform>
</plugin>
